body{
    background-color: black;
    color: white;
}
.header{
    /* text-align: center; */
    margin-top: 7.5vh;
    margin-left: 12vw;

}
.contactslist ul{
    list-style-type: none;
    
}
.directContact{
    display: inline;
}
.portfolio{ 
    display:inline ;   
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: yellowgreen;
}

    
#owner{
    
    font-size:15.5vw;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.navbar{
    margin-top: 0px;
    font-size: 3vw;
    padding: 0;
}
.navbar ul li{
    list-style-type:none;
    padding: 0px;
    margin-right: 5vw;
    display: inline-block;
    font-weight: bolder;
    font-size: 3vw;
    
}
.name{
    display: block;
}
#owner:hover{
    color: darkorange;
}